/* Global Styles Start */
:root {
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --button-color: #340034 ;
    --button-hover-color: #ce00ce;
    --high-score-hover: #b19cd9;
    
}

header {
    display: flex;
}
#timer {
    justify-items: flex-end;
    width: 100%;
}

#scores {
    justify-items: flex-start;
}

.hide {
    /* display: none; */
}